.App {
  text-align: center;
  padding: 15px;
  font-style: unset;
  background: wheat;
  font-size: 16px;
  

}
h3{
 margin: 5px;
}
.my-data{
  display: flex;
  justify-content: space-around;
}
img{
  height: 300px;
  width: 300px;
  border-radius: 20px;
}

a{
  display: block;
  font-style: italic;
}
